
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInventarios.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2> Logisticas Inversas <small>Index</small></h2> &nbsp;&nbsp;&nbsp;
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table id="tblLogisticas" class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Folio</th>
                    <th>Fecha Alta</th>
                    <th>Origen</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>

@section Styles {

    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
}

@section Scripts {

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

    <!-- Moment.js: -->
    <script src="~/vendors/moment/moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            table = $("#tblLogisticas").DataTable({
                "order": [[0, "desc"]],
                "ordering": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pagingType": "simple_numbers",
                "dom": 'Blrtip', // Hides Default Search
                "processing": true,
                "serverSide": true,
                "orderMulti": false,
                "deferRender": true,
                rowId: 'id',
                select: true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'COPIAR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'IMPRIMIR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'EXCEL',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }

                ],
                "ajax": {
                    "url": "/logisticas/ObtenerLogisticas",
                    "type": "POST",
                    "datatype": "json"
                },
                "aoColumns": [
                    { "data": "id", "autoWidth": true, "visible": false },
                    { "data": "Folio", "autoWidth": true },
                    {
                        "data": "FechaAlta",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            return (moment(data).format('MM/DD/YYYY, h:mm:ss a'));
                        }
                    },
                    { "data": "origen", "autoWidth": true },
                    { "data": "status", "autoWidth": true },
                    {
                        "data": null,
                        "targets": -1,
                        "render": function (data, type, full) {
                            return "<a  onclick='Detalles(" + full['id'] + ")' id='btnDetalles" + full['id'] + "' class='btn btn-success'><i class='fa fa-list'></i></a>";
                        },
                        "bSearchable": false,
                        "sortable": false,
                        "autoWidth": true,
                        "sWidth": "50px"
                    }
                ]
            });
        });

        var Detalles = function (ID) {
            $.ajaxSetup({ cache: false });
            var EditUrl = "/logisticas/VistaDetalles/" + ID;
            $("#MyModalContent").load(EditUrl, function () {
                $("#MyModal").modal({
                    //backdrop: 'static',
                    keyboard: false
                }, 'show');
            });
            return false;
        }

    </script>
}